---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>Hello world!</h2>
    <p>I’m just starting out in computer science with an eye on backend development. JavaScript and Python are my go-to languages right now. When I'm not hitting the books, I’m probably setting up some self-hosted apps and learning more about Linux (I use EndeavourOS, btw). To unwind, I watch lots of horror movies. Specially stuff from the 80s.</p>
</BaseLayout>