---

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
</head>
<body>
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<h1>About Me</h1>
<h3>Hello, World!</h3>
    <p>I’m just starting out in computer science with an eye on backend development. JavaScript and Python are my go-to languages right now. When I'm not hitting the books, I’m probably setting up some self-hosted apps and learning more about Linux (I use EndeavourOS, btw). To unwind,  I watch lots of horror movies. Specially stuff from the 80s.</p>
</body>
</html>
