---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>Welcome!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, fugiat incidunt laboriosam molestias natus quis voluptatibus? Ex explicabo rem tempora. Eaque eos, eum laborum mollitia similique sit soluta. Ad, voluptate!</p>
</BaseLayout>